* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
   background: url(https://wallpapers.com/images/hd/river-view-digital-art-kefiy663y9ft0cku.jpg)
    center / cover no-repeat; 
    
  width: 100%;
  height: max-content;
  position: relative;
}

.main_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.main > p {
  position: absolute;
  top: 0;
}
.type {
  font-size: 120px;
  margin-top: -120px;
  font-weight: 500;
  animation: zoomIn 5s ease forwards, floatImage 5s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
.G {
  color: rgb(23, 107, 239);
}
.o {
  color: rgb(255, 62, 48);
}
.o-2 {
  color: rgb(247, 181, 41);
}

.G-2 {
  color: rgb(23, 107, 239);
}

.l {
  color: rgb(23, 156, 82);
}

.e {
  color: rgb(255, 62, 48);
}

@keyframes floatImage {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}
.input {
  position: relative;
}
.input > input {
  margin-top: 50px;
  width: 600px;
  height: 45px;
  border-radius: 55px;
  outline: none;
  border: 1px solid white;
  padding-left: 50px;
}

.input > input::placeholder {
  color: rgb(98, 96, 96);
  font-size: 15px;
  font-weight: 400;
  padding-left: 2px;
}

.icon {
  position: absolute;
  right: 20px;
  top: 64px;
}
.icon2 {
  position: absolute;
  left: 20px;
  top: 64px;
}

.main_sec {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(201, 200, 202);
  position: relative;
  position: absolute;
  width: 610px;
  height: 300px;
  /* top:-100%; */
  display: none;
  border-radius: 22px;
  margin-left: 5px;
  transition: 1s !important;
  overflow-y: auto;
  cursor: pointer;
  z-index: 22;

}

.main_sec::-webkit-scrollbar{
  display: none;
}

.show {
  display: block;
  top: 58%;
  transition: 1s !important;
}

.show2{
  display: none !important;
}

.top{
  top: -100%;
}


.nav_list {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
}

.nav_list > p {
  margin-top: 20px;
}

.nav_list > img {
  width: 80px;
  height: 100px;
  border-radius: 10px;

}

.nav_link{
  list-style: none;
}
.nav_link > a {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
  
}
.nav_link>a>span{
  color: rgb(0, 0, 255);
  padding-right: 10px;
  padding-left: 5px;
} 

.main_sec>h4{
  text-align: center;
  margin-top: 15px;
  font-size: 23px;
  font-weight: 400;
  color: blue;
}
.text{
  color: rgb(50, 45, 133);
  margin-left: 10px;
}

.type2{
   font-size: 20px;
   margin-top: -100px;
   text-align: center;
   color: red;
   display: none;
}

.type3{
  display: block !important;
}